.App {
  text-align: center;
}

.main {
  background-color: rgb(204, 204, 204);
  height: 100%;
  margin-top: 0;
}

.loading {
  border: 22px solid rgb(243, 243, 243);
  border-radius: 50%;
  border-top: 22px solid rgb(9, 17, 53, 0.8);
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchBarContainer {
  display: inline;
}

.searchBar {
  width: 60%;
  margin: 4%;
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 1%;
  font-size: 1.1em;
}

.searchBar:focus {
  background-color: rgb(238, 235, 247);
  transition: all 0.3s ease;
}

.sortButton {
  display: inline;
}

.sortButton button {
  border: none;
  border-radius: 6px;
  padding: 1.3%;
}
.eachCard {
  width: 90%;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  color: rgb(56, 56, 56);
  display: inline-table;
  border-radius: 12px;
}

@media only screen and (min-width: 490px) {
  .eachCard {
    width: 45%;
  }
}

@media only screen and (min-width: 724px) {
  .eachCard {
    width: 30%;
  }
}

.eachCard .imageContainer {
  position: relative;
  width: 100%;
}

.eachCard .imageContainer img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.eachCard .imageContainer .duration {
  position: absolute;
  bottom: 14px;
  right: 10px;
  color: white;
  border-radius: 8px;
  padding: 4px 11px;
  background-color: rgb(9, 17, 53, 0.8);
}

.eachCard .imageContainer .duration p {
  margin: 0;
}

.eachCard .cardInfo {
  padding: 6%;
  height: 250px;
  text-align: left;
  text-overflow: "-";
  overflow: auto;
}

.eachCard .cardInfo h3 {
  color: rgb(70, 56, 116);
}

.eachCard .cardInfo p {
  text-overflow: ellipsis;
}

.seeMore {
  background-color: rgb(240, 248, 255);
  padding: 2%;
  font-weight: 600;
  cursor: pointer;
}

.startPathway {
  padding: 6%;
  text-align: left;
  font-weight: 600;
}

.startPathway a {
  color: rgb(70, 56, 116);
  text-decoration: none;
}

.startPathway a:hover {
  color: rgb(114, 88, 199);
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1010;
  height: 60%;
  width: 90%;
  background-color: white;
  border-radius: 17px;
  padding: 2%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 490px) {
  .modalContainer {
    height: 65%;
    width: 75%;
  }
}

@media only screen and (min-width: 724px) {
  .modalContainer {
    height: 65%;
    width: 65%;
  }
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(186, 201, 214, 0.9);
}

.closeModal {
  text-align: end;
  margin-top: 0;
}

.modalContainer .linkCourse {
  margin: 10%;
}

.modalContainer .linkCourse a {
  color: rgb(70, 56, 116);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  background-color: rgb(240, 248, 255);
  padding: 3%;
  border-radius: 6px;
}
